.btn {
  display: inline-block;
  margin-right: 10px;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #cf7500;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  }

.btn:hover {
  background: #01111a;
  background-image: -webkit-linear-gradient(top, #01111a, #d8e1e6);
  background-image: -moz-linear-gradient(top, #01111a, #d8e1e6);
  background-image: -ms-linear-gradient(top, #01111a, #d8e1e6);
  background-image: -o-linear-gradient(top, #01111a, #d8e1e6);
  background-image: linear-gradient(to bottom, #01111a, #d8e1e6);
  text-decoration: none;
}

body {
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  color: #333;
}

div {
  width: 300px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px #ccc;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="number"],
select
{
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #555;
}

      a {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #555;
}

input.search {
  font-size: 16px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  width: 30%;
}

input.search:focus {
  outline: none;
  border-color: #4CAF50;
  box-shadow: 0 0 8px 0 rgba(76,175,80,0.4);
}


.logout {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: large;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout:hover {
  background-color: #f44336;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
