<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename ='styles.css')}}">
    <title>User Registration Page</title>
</head>
<body>
    <h1>User Registration</h1>
    <div>
        <form action="/userregister" method="post">
            <label for="uname">Enter Username</label><br>
            <input type="text" name="uname"><br>
            <label for="pword">Enter Password</label><br>
            <input type="password" name="pword"><br>
            <input type="submit" value="Register">
            <a href="{{url_for('userlogin')}}">Already have an account?<span style="color: red;"> Login </span></a>
        </form>
    </div>
</body>
</html>