<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venue Viewer</title>
    <link rel="stylesheet" href="{{url_for('static',filename ='tables.css')}}">
</head>
<body>
    <button class="logout"><a href="/logout">Logout</a></button>
    <h1>List of all Venues</h1>
    <table>
        <tr>
            <th>SNo</th>
            <th>Venue Name</th>
            <th>Venue Place</th>
            <th>Venue Capacity</th>
            <th>Actions</th>
        </tr>
        <tr>
            {% for one in all %}
            <tr>
                <td> {{one['venue_id']}} </td>
                <td> {{one['venue_name']}} </td>
                <td> {{one['venue_place']}} </td>
                <td> {{one['venue_cap']}} </td>
                <td>
                    <a href="/venue/update/{{one['venue_id']}}">edit </a> ||
                    <a href="/show/view/{{one['venue_id']}}">View shows </a> ||
                    <a href="/venue/delete/{{one['venue_id']}}">delete</a>
                </td>
            </tr>
            {% endfor %}
        </tr>
    </table>
    <footer>
        <a href="/homeadmin">Home</a>
        <a href="/venue/create"> Add a Venue</a>
        <a href="/show/create"> Add a Show</a>
    </footer>
</body>
</html>